@-moz-document regexp("^((https?:\\/\\/)?scratch\\.mit\\.edu\\/projects\\/(\\d*\\/)?(editor|fullscreen).*)$") {
/*[[theme]]*/

/*-- SHADES OF BLACK --*/
.Popover-body, .paint-editor_bitmap-button_keW7B, .dropdown_dropdown_yOinO {border-color: var(--c00) !important;}
.blocklyFlyoutBackground {fill: var(--c01); fill-opacity: 0.5;}

.gui_tab_27Unf.gui_is-selected_sHAiu, .sprite-selector-item_is-selected_24tQj .sprite-selector-item_sprite-info_-I0i_, .stage-selector_stage-selector_3oWOr.stage-selector_is-selected_2x2r_ .stage-selector_header_2GVr1, .stage-header_stage-header-wrapper-overlay_5vfJa .stage-header_stage-button_hkl9B, .color-picker_clickable_29wR3.color-picker_swatch_1IYWN, .fixed-tools_button-group-button_2dq9z.fixed-tools_mod-start-border_1SgX4:active, .fixed-tools_button-group-button_2dq9z:not(.button_mod-disabled_1rf31):active, .labeled-icon-button_mod-edit-field_1bXYC:active, .paint-editor_button-group-button_1I1tm:active, [dir="ltr"] .paint-editor_button-group-button_1I1tm:first-of-type:active.button_highlighted_2cM8r.button_button_u6SE2, .mode-tools_mode-tools-icon_23c7i:active, .dropdown_mod-open_3zJSJ, .paint-editor_canvas-container_x2D0a, .sound-editor_button_1_6Li:not([disabled]):active, .font-dropdown_mod-menu-item_1wXq5:hover, .icon-button_container_278u5:active, .fixed-tools_mod-menu-item_1syXh:not(.fixed-tools_mod-disabled_3dvDX):hover, .paint-editor_bitmap-button_keW7B.button_button_u6SE2:hover, .paint-editor_bitmap-button_keW7B.button_button_u6SE2:active, .color-button_swatch-icon_3ooIk, .color-picker_large-swatch-icon_E7mUt, .button_highlighted_2cM8r.button_button_u6SE2 {background-color: var(--c02) !important;}
.sprite-selector-item_sprite-selector-item_kQm-i.sprite-selector-item_is-selected_24tQj, .stage-selector_stage-selector_3oWOr.stage-selector_is-selected_2x2r_, .gui_menu-bar-position_3U1T0, .paint-editor_canvas-container_x2D0a, .card_header-buttons_3Yq16, .modal_header-item_2zQTd.modal_header-item-title_tLOU5, .drag-layer_image_1inbS, .stage-selector_stage-selector_3oWOr:hover, .sprite-info_radio_v-fgn, .library-item_library-item_1DcMO, .sprite-selector-item_sprite-selector-item_kQm-i:hover, .stage-header_stage-header-wrapper-overlay_5vfJa {border-color: var(--c02) !important;}

.sprite-info_sprite-info_3EyZh, .stage-selector_header_2GVr1, .backpack_backpack-header_6ltCS, .asset-panel_wrapper_366X0, .custom-procedures_option-card_BtHt3, .connection-modal_activityArea_2nx-Z, .connection-modal_body_3YO9j, .blocklyDropDownDiv[style*="background-color: rgb(255, 255, 255)"], .Popover-body, .Popover-tipShape, .sprite-selector_sprite_21WnR:not(.sprite-selector-item_is-selected_24tQj):hover, .sprite-selector-item_sprite-selector-item_kQm-i:not(.sprite-selector-item_is-selected_24tQj):hover, .paint-editor_bitmap-button_keW7B, .react-tabs_react-tabs__tab_3Nn-X:not(.react-tabs_react-tabs__tab--selected_EW0CL):hover, .drag-layer_image_1inbS, .backpack_backpack-item_hwqzQ:hover > div, .library-item_library-item_1DcMO:hover {background-color: var(--c03) !important;}
.Popover-body, .Popover-tipShape {fill: var(--c03) !important;}
.stage_stage_1fD7k.stage_full-screen_ZO7xi, .custom-procedures_option-card_BtHt3:hover, .camera-modal_camera-feed-container_-La7q {border-color: var(--c03) !important;}

.library-item_library-item_1DcMO, .gui_menu-bar-position_3U1T0, .menu_menu_3k7QT, .sprite-selector-item_sprite-selector-item_kQm-i, .modal_header_1h7ps, .card_header-buttons_3Yq16, .card_left-card_1KpEh::after, .card_right-card_3IrbD::after, .gui_tab_27Unf, .stage-header_stage-button_hkl9B, .sprite-selector-item_sprite-selector-item_kQm-i.sprite-selector-item_is-selected_24tQj, .stage-selector_stage-selector_3oWOr, .language-selector_language-select_8Vfnm, .camera-modal_camera-feed-container_-La7q, .camera-modal_retake-button_3xhWG, .record-modal_meter-container_3OqCJ, .record-modal_waveform-container__ay3Q, .backpack_backpack-item_hwqzQ > div, .meter_mask_B-cd7, .record-modal_rerecord-button_jgsi_, .card_deck_2NtVa, .stage-header_stage-header-wrapper-overlay_5vfJa {background-color: var(--c04) !important;}

.backpack_backpack-list_MOp5X, .loader_background_2DPrW, .gui_body-wrapper_-N0sA, .scratchCategoryMenu, .blocklyToolboxDiv, .sprite-selector_sprite-selector_2KgCX, .prompt_body_18Z-I, .custom-procedures_body_SQBv6, .connection-modal_bottom-area_AHeQ3, .slider-prompt_body_2ZkXL.box_box_2jjDp, .card_step-body_2bFkf, .card_left-card_1KpEh, .card_right-card_3IrbD, .library_library-scroll-grid_1jyXm, .selector_wrapper_8_BHs .selector_list-area_1Xbj_.box_box_2jjDp, .camera-modal_body_3GKi0, .record-modal_body_2VO4l, .stage-wrapper_stage-wrapper_2bejr.stage-wrapper_full-screen_2hjMb {background-color: var(--c05) !important}
.blocklyFlyoutCheckbox.checked {fill: var(--c05) !important;}

.scratchCategoryMenuItem.categorySelected, .library_filter-bar_1W0DW, .sprite-selector_scroll-wrapper-dragging_2QZJG {background-color: var(--c06) !important;}

.prompt_cloud-option_1jjSa {border-color: var(--c07) !important;}
.gui_tab_27Unf, .scratchColourPickerLabel, .color-picker_row-header_173LQ, .library-item_featured-extension-requirement_2u2IO, .library-item_featured-extension-collaboration_2dGS9, .camera-modal_loading-text_e5804, .camera-modal_help-text_2KFwn, .camera-modal_disabled-text_G3r68, .font-dropdown_font-dropdown_3XyMU, .valueReportBox, .color-button_color-button-arrow_2NxGY {color: var(--c07); opacity: 1;}

.scratchCategoryMenuItemLabel, .sprite-info_sprite-info_3EyZh, .sprite-selector-item_sprite-info_-I0i_, .stage-selector_header-title_33xCt, .stage-selector_label_1MCfr, .stage-selector_count_2QK7D, .backpack_backpack-header_6ltCS, .backpack_status-message_3kt5s, .modal_modal-content_1h3ll, .custom-procedures_option-title_3v6va span, .custom-procedures_checkbox-row_rPP8j label span, .card_step-title_13--3, .library-item_library-item-name_2qMXu, .library-item_featured-description_MjIJw, .label_input-label_1s1ft, .labeled-icon-button_edit-field-title_1ZoEV, .label_input-label_3KjCa, .icon-button_title_36ChS, .card_deck-name_1SJhM {color: var(--c08) !important;}
.blocklyFlyoutLabelText, .blocklyFlyoutButton .blocklyText {fill: var(--c08) !important;}

.scratchCategoryMenuItem:hover > div, .custom-procedures_ok-button_2X0Vj:hover, .custom-procedures_ok-button_2X0Vj:active, .prompt_ok-button_3QFdD:active, .slider-prompt_ok-button_vLj7c:hover, .slider-prompt_ok-button_vLj7c:active, .custom-procedures_button-row_2jBu3 button:nth-child(1):hover, .custom-procedures_button-row_2jBu3 button:nth-child(1):active, .prompt_button-row_3Wc5Z button:nth-child(1):active, .slider-prompt_button-row_32aCX.box_box_2jjDp button:nth-child(1):hover, .slider-prompt_button-row_32aCX.box_box_2jjDp button:nth-child(1):active, .language-selector_language-select_8Vfnm, .fixed-tools_mod-menu-item_1syXh {color: var(--c09) !important;}


/*-- TRANSPARENCY --*/
.blocklySvg, .custom-procedures_ok-button_2X0Vj, .prompt_ok-button_3QFdD, .slider-prompt_ok-button_vLj7c, .custom-procedures_button-row_2jBu3 button:nth-child(1), .prompt_button-row_3Wc5Z button:nth-child(1), .slider-prompt_button-row_32aCX.box_box_2jjDp button:nth-child(1), .sound-editor_button_1_6Li, .selector_new-buttons_2qHDd {background-color: var(--c10) !important;}
.color-button_outline-swatch_3C0QK::after, .sound-editor_round-button_3NLcW {border-color: var(--c10) !important;}

.green-flag_green-flag_1kiAo:hover, .stop-all_stop-all_1Y8P9:hover {background-color: var(--c12) !important;}
.blocklyFlyoutButton .blocklyFlyoutButtonBackground {fill: var(--c12);}

.green-flag_green-flag_1kiAo.green-flag_is-active_2oExT, .color-button_outline-swatch_3C0QK::after {background-color: var(--c13) !important;}
.stage-header_stage-button_hkl9B, [dir="ltr"] .fixed-tools_button-group-button_2dq9z:first-of-type, [dir="ltr"] .fixed-tools_button-group-button_2dq9z.fixed-tools_mod-start-border_1SgX4, .fixed-tools_button-group-button_2dq9z, .paint-editor_button-group-button_1I1tm, [dir="ltr"] .paint-editor_button-group-button_1I1tm:first-of-type, .sound-editor_button_1_6Li, .divider_divider_1_Adi, .stage_stage-overlay-content_ePv_6 {border-color: var(--c13) !important;}
.sprite-selector-item_sprite-selector-item_kQm-i.sprite-selector-item_is-selected_24tQj, .stage-selector_stage-selector_3oWOr.stage-selector_is-selected_2x2r_, .custom-procedures_option-card_BtHt3:hover, .color-picker_active-swatch_3Mv7i {box-shadow: 0px 0px 0px 4px var(--c13) !important;}

.card_card_3GG7C {box-shadow: 0px 5px 25px 5px var(--c14) !important;}
.blocklyFlyoutButton:hover .blocklyFlyoutButtonBackground {fill: var(--c14);}
.color-picker_swatch-row_1Q_s_ .color-picker_swatch_1IYWN, .blocklyDropDownDiv {border: 1px solid var(--c14) !important}
.scratchEyedropper, .color-picker_divider_3a3qR {border-color: var(--c14);}
.Popover-tipShape {stroke: var(--c14)}

.modal_modal-overlay_1Lcbx {background-color: var(--c15) !important;}

/*-- BLOCKS --*/
/* Motion */
[fill="#4C97FF"], [fill="#4280D7"], [fill="#3373CC"] {stroke: var(--c201);}
[fill="#4C97FF"] {fill: var(--c200);}
[fill="#4280D7"] {fill: var(--c202);}
[fill="#3373CC"] {fill: var(--c201);}
.blocklyDropDownDiv[data-category="motion"]:not([style*="background-color: rgb(255, 255, 255)"]) {
    background-color: var(--c200) !important;
    border-color: var(--c201) !important;
    color: white;
}

/* Looks */
[fill="#9966FF"], [fill="#855CD6"], [fill="#774DCB"] {stroke: var(--c211);}
[fill="#9966FF"] {fill: var(--c210);}
[fill="#855CD6"] {fill: var(--c212);}
[fill="#774DCB"] {fill: var(--c211);}
.blocklyDropDownDiv[data-category="looks"]:not([style*="background-color: rgb(255, 255, 255)"]) {
    background-color: var(--c210) !important;
    border-color: var(--c211) !important;
    color: white;
}

/* Sound */
[fill="#CF63CF"], [fill="#C94FC9"], [fill="#BD42BD"] {stroke: var(--c221);}
[fill="#CF63CF"] {fill: var(--c220);}
[fill="#C94FC9"] {fill: var(--c222);}
[fill="#BD42BD"] {fill: var(--c221);}
.blocklyDropDownDiv[data-category="sounds"]:not([style*="background-color: rgb(255, 255, 255)"]) {
    background-color: var(--c220) !important;
    border-color: var(--c221) !important;
    color: white;
}

/* Events */
[fill="#FFBF00"], [fill="#E6AC00"], [fill="#CC9900"] {stroke: var(--c231);}
[fill="#FFBF00"] {fill: var(--c230);}
[fill="#E6AC00"] {fill: var(--c232);}
[fill="#CC9900"] {fill: var(--c231);}
.blocklyDropDownDiv[data-category="events"]:not([style*="background-color: rgb(255, 255, 255)"]) {
    background-color: var(--c230) !important;
    border-color: var(--c231) !important;
    color: white;
}

/* Control */
[fill="#FFAB19"], [fill="#EC9C13"], [fill="#CF8B17"] {stroke: var(--c241);}
[fill="#FFAB19"] {fill: var(--c240);}
[fill="#EC9C13"] {fill: var(--c242) !important;}
[fill="#CF8B17"] {fill: var(--c241) !important;}
.blocklyDropDownDiv[data-category="control"]:not([style*="background-color: rgb(255, 255, 255)"]) {
    background-color: var(--c240) !important;
    border-color: var(--c241) !important;
    color: white;
}

/* Sensing */
[fill="#5CB1D6"], [fill="#47A8D1"], [fill="#2E8EB8"] {stroke: var(--c251);}
[fill="#5CB1D6"] {fill: var(--c250);}
[fill="#47A8D1"] {fill: var(--c252);}
[fill="#2E8EB8"] {fill: var(--c251);}
.blocklyDropDownDiv[data-category="sensing"]:not([style*="background-color: rgb(255, 255, 255)"]) {
    background-color: var(--c250) !important;
    border-color: var(--c251) !important;
    color: white;
}

/* Operators */
[fill="#59C059"], [fill="#389438"] {stroke: var(--c261);}
[fill="#59C059"] {fill: var(--c260);}
[fill="#389438"] {fill: var(--c261);}
.blocklyDropDownDiv[data-category="operators"]:not([style*="background-color: rgb(255, 255, 255)"]) {
    background-color: var(--c260) !important;
    border-color: var(--c261) !important;
    color: white;
}

/* Vars */
[fill="#FF8C1A"], [fill="#DB6E00"] {stroke: var(--c271);}
[fill="#FF8C1A"] {fill: var(--c270);}
[fill="#DB6E00"] {fill: var(--c271);}
.blocklyDropDownDiv[data-category="data"]:not([style*="background-color: rgb(255, 255, 255)"]) {
    background-color: var(--c270) !important;
    border-color: var(--c271) !important;
    color: white;
}

/* Lists */
[fill="#FF661A"], [fill="#E64D00"] {stroke: var(--c281);}
[fill="#FF661A"] {fill: var(--c280);}
[fill="#E64D00"] {fill: var(--c281);}
.blocklyDropDownDiv[data-category="data-lists"]:not([style*="background-color: rgb(255, 255, 255)"]) {
    background-color: var(--c280) !important;
    border-color: var(--c281) !important;
    color: white;
}

/* Custom */
[fill="#FF6680"], [fill="#FF3355"], [fill="#FF4D6A"] {stroke: var(--c291);}
[fill="#FF6680"] {fill: var(--c290);}
[fill="#FF3355"] {fill: var(--c291);}
[fill="#FF4D6A"] {fill: var(--c292);}

/* Extensions */
[fill="#0FBD8C"], [fill="#0DA57A"], [fill="#0B8E69"] {stroke: var(--c2A1);}
[fill="#0FBD8C"] {fill: var(--c2A0);}
[fill="#0DA57A"] {fill: var(--c2A2);}
[fill="#0B8E69"] {fill: var(--c2A1);}
.blocklyDropDownDiv[data-category="Pen"]:not([style*="background-color: rgb(255, 255, 255)"]) {
    background-color: var(--c2A0) !important;
    border-color: var(--c2A1) !important;
    color: white;
}

/*-- (YES / PROCEED) / (NO / CANCEL) buttons --*/
.custom-procedures_ok-button_2X0Vj, .prompt_ok-button_3QFdD, .slider-prompt_ok-button_vLj7c, .camera-modal_ok-button_32iBJ, .record-modal_ok-button_3pudV {
    border: 1px solid var(--c30) !important;
    color: var(--c30) !important;
    background: var(--c10) !important;
}
.custom-procedures_ok-button_2X0Vj:hover, .custom-procedures_ok-button_2X0Vj:active, .prompt_ok-button_3QFdD:hover, .prompt_ok-button_3QFdD:active, .slider-prompt_ok-button_vLj7c:hover, .slider-prompt_ok-button_vLj7c:active, .camera-modal_ok-button_32iBJ:hover, .camera-modal_ok-button_32iBJ:active, .record-modal_ok-button_3pudV:hover, .record-modal_ok-button_3pudV:active {
    background: var(--c30) !important;
    color: var(--c32) !important;
}

.custom-procedures_button-row_2jBu3 button:nth-child(1), .prompt_button-row_3Wc5Z button:nth-child(1), .slider-prompt_button-row_32aCX.box_box_2jjDp button:nth-child(1) {
    border: 1px solid var(--c31) !important;
    color: var(--c31) !important;
}
.custom-procedures_button-row_2jBu3 button:nth-child(1):hover, .custom-procedures_button-row_2jBu3 button:nth-child(1):active, .prompt_button-row_3Wc5Z button:nth-child(1):hover, .prompt_button-row_3Wc5Z button:nth-child(1):active, .slider-prompt_button-row_32aCX.box_box_2jjDp button:nth-child(1):hover, .slider-prompt_button-row_32aCX.box_box_2jjDp button:nth-child(1):active {
    background: var(--c31) !important;
    color: var(--c32) !important;
}

/*-- THEME COLORS --*/
/*[[customthemecolorsCSS]]*/

/*-- BLOCK WORKSPACE BACKGROUND*/
.blocklyMainBackground { fill: var(--cwb) !important; }

/*-- OTHER PROPERTIES --*/
/* None */
.card_card_3GG7C, .card_left-card_1KpEh, .card_right-card_3IrbD, .color-picker_gradient-picker-row_mnu4O .color-picker_swatch_1IYWN {border: none;}
.selector_wrapper_8_BHs .box_box_2jjDp {border-left: none;}
.blocklyMainBackground {stroke: none;}
.stage-header_stage-button-toggled-off_AJ8yG {filter: none;}

.stage-header_stage-button_hkl9B, .paint-editor_canvas-container_x2D0a, .paint-editor_bitmap-button_keW7B {border: 1px solid}
.stage-selector_stage-selector_3oWOr.stage-selector_is-selected_2x2r_, .custom-procedures_option-card_BtHt3:hover {border: 2px solid}
.gui_menu-bar-position_3U1T0, .card_header-buttons_3Yq16, .modal_header-item_2zQTd.modal_header-item-title_tLOU5, .stage-header_stage-header-wrapper-overlay_5vfJa {border-bottom: 2px solid}

.color-picker_clickable_29wR3.color-picker_swatch_1IYWN { padding: 4px; }

.selector_new-buttons_2qHDd::before {
    background: -webkit-gradient(linear,left top, left bottom,from(var(--c11)),to(var(--c05)));
    background: -o-linear-gradient(var(--c11),var(--c05));
    background: linear-gradient(var(--c11),var(--c05));
}
.library-item_featured-extension-metadata-detail_1M9BV img, .tool-select-base_mod-tool-select_1iD-h:not(.tool-select-base_is-selected_3x4kL) img, .mode-tools_mode-tools-icon_23c7i, .stage-header_stage-button-toggled-off_AJ8yG img, .stage-header_stage-size-row_14N65 > div:last-child img, .stage-header_stage-menu-wrapper_15JJt > span:last-child img, .color-picker_swatch-row_1Q_s_ > :last-child img, .sprite-info_row-primary_10JrS .sprite-info_icon-wrapper_3Wbqq img {
    -webkit-filter: grayscale(100%) brightness(1.2);
    -moz-filter: grayscale(100%) brightness(1.2);
    -o-filter: grayscale(100%) brightness(1.2);
    filter: grayscale(100%) brightness(1.2);
}
.stage_stage-wrapper-overlay_fmZuD {top: calc(2.75rem + 2px)}

.color-picker_swatch_1IYWN, .color-button_color-button-swatch_37evk {display: block;}
.color-button_swatch-icon_3ooIk {
    width: calc(100% + 2px) !important;
    height: calc(100% + 2px) !important;
    transform: translateX(-1px) translateY(-1px);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 3px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}
.color-picker_large-swatch-icon_E7mUt {
    width: calc(100% + 8px) !important;
    height: calc(100% + 8px) !important;
    transform: translateX(-4px) translateY(-4px);
    box-sizing: border-box;
    border-radius: 3px;
    padding: 3px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.sprite-selector_scroll-wrapper-dragging_2QZJG {transition: background-color .2s ease-in-out;}

/*-- Background image --*/
/*[[backgroundImageCSS]]*/
}