/* (Enabled) */
/*- Primary color -*/
.gui_tab_27Unf.gui_is-selected_sHAiu span, .font-dropdown_displayed-font-name_ueeH4, .dropdown_dropdown_yOinO, .record-modal_button-row_1hdGe button, .record-modal_playing-text_1tknI {color: var(--c40);}
.gui_extension-button-container_b4rCs, .delete-button_delete-button-visible_kym6v, .action-menu_button_1qbot, .action-menu_more-buttons-outer_3J9yZ, .action-menu_tooltip_3Bkh5, .action-menu_tooltip_3Bkh5::after, .sound-editor_round-button_3NLcW, .audio-trimmer_selection-background_3LBuB, .tool-select-base_mod-tool-select_1iD-h.tool-select-base_is-selected_3x4kL, .tag-button_tag-button_nBLRM, .tool-select-base_mod-tool-select_1iD-h:not(.tool-select-base_is-selected_3x4kL):active, .action-menu_button_1qbot:hover, .card_see-all-button_3o4U8, .connection-modal_connection-button_1paxF, .connection-modal_dot_2GsnJ {background-color: var(--c40) !important;}

.gui_extension-button-container_b4rCs, .sprite-info_radio-wrapper_1OHDS div:not(.sprite-info_is-disabled_1_MCi):focus, .audio-trimmer_selector_DDQ2- .audio-trimmer_trim-line_2cpoE, .spinner_spinner_2Op8D.spinner_primary_32PLs, .input_input-form_1Y0wX:hover, .sprite-info_sprite-info_3EyZh .input_input-form_l9eYg:not([disabled]):hover, .sound-editor_row_3iFzH .input_input-form_l9eYg:hover, .library_filter_2k-oj:hover, .input_input-form_1Y0wX:focus, .input_input-form_l9eYg:focus, .library_filter_2k-oj:focus-within {border-color: var(--c40) !important;}
.spinner_spinner_2Op8D.spinner_primary_32PLs::after {border-top-color: var(--c40);}
.audio-trimmer_playhead_3A0k9 {border-left-color: var(--c40);}

.delete-button_delete-button-visible_kym6v {box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 0 0 2px var(--c40);}
.input_input-form_l9eYg:focus, .input_input-form_1Y0wX:focus, .sound-editor_round-button_3NLcW {box-shadow: 0 0 0 4px rgba(20, 20, 20, 0.5), 0 0 0 4px var(--c40);}
.action-menu_main-button_3ccfy, .filter_filter_1JFal:focus-within {box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.2), 0 0 0 4px var(--c40);}
.action-menu_main-button_3ccfy:hover {box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 0 6px var(--c40);}

.blocklyFlyoutButton:hover text {fill: var(--c40) !important; stroke: none;}
.blocklyFlyoutButton:hover .blocklyFlyoutButtonBackground {stroke: var(--c40) !important}
.checked > .blocklyFlyoutCheckbox {
    fill: var(--c40);
    stroke: var(--c10);
}

.dial_gauge-path_1WoJ6 {
    fill: var(--c40);
    fill-opacity: 0.3;
    stroke: var(--c40);
}

/*[[optimiseCSS]]*/

.record-modal_recording-text_2LS7_ {color: var(--c41)}
.share-button_share-button_Nxxf0, .tag-button_active_2stEz, .connection-modal_dots-holder_2kY6c.connection-modal_dots-holder-error_3iK2w::before, .connection-modal_dot_2GsnJ.connection-modal_error-dot_1NdiS {background-color: var(--c41) !important;}
.record-modal_record-button-circle_kXioI, .record-modal_record-button-circle-outline_1ycFu {
    fill: var(--c41);
}
.record-modal_record-button-circle_kXioI {
    stroke: var(--c41);
}

/*- Extra styling for connection bar (e.g. the one for micro:bit) -*/
.connection-modal_dots-holder_2kY6c {
    position: relative;
    background: transparent;
}
.connection-modal_dots-holder_2kY6c::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--c40);
    border-radius: 1rem;
    opacity: .2;
}
.connection-modal_inactive-step-dot_1x6LP { opacity: .4; }

/*- Other adjustments -*/
.tool-select-base_mod-tool-select_1iD-h:not(.tool-select-base_is-selected_3x4kL):active {
    -webkit-filter: brightness(0.7);
    -moz-filter: brightness(0.7);
    -o-filter: brightness(0.7);
    filter: brightness(0.7);
}
.action-menu_button_1qbot:hover, .spinner_spinner_2Op8D.spinner_primary_32PLs {
    -webkit-filter: brightness(0.9);
    -moz-filter: brightness(0.9);
    -o-filter: brightness(0.9);
    filter: brightness(0.9);
}
.spinner_spinner_2Op8D.spinner_primary_32PLs::after {
    -webkit-filter: brightness(1.5);
    -moz-filter: brightness(1.5);
    -o-filter: brightness(1.5);
    filter: brightness(1.5);
}
.tool-select-base_mod-tool-select_1iD-h:not(.tool-select-base_is-selected_3x4kL):active img {
    -webkit-filter: grayscale(100%) brightness(6);
    -moz-filter: grayscale(100%) brightness(6);
    -o-filter: grayscale(100%) brightness(6);
    filter: grayscale(100%) brightness(6);
}