/* Aquarium */
:root {
    /* ============================= Selected theme: Aquarium ============================= */
    /* Shades of black */
        --c00: #1c1f29;
        --c01: #22263b;
        --c02: #24223a;
        --c03: #2d2e44;
        --c04: #30314d;
        --c05: #3b4164;
        --c06: #4d5380;
        --c07: #747596;
        --c08: #8a8ecf;
        --c09: #bec1ff;
        --c10: transparent;
        --c11: rgba(36, 36, 59, 0.01);
        --c12: hsla(219, 29%, 9%, 0.15);
        --c13: rgba(19, 20, 34, 0.2);
        --c14: rgba(16, 20, 27, 0.5);
        --c15: rgba(12, 16, 22, 0.7);

    /* Scratch Blocks */
        /* Motion */
        --c200: #3373CC;
        --c201: #1F497F;
        --c202: #255896;

        /* Looks */
        --c210: #7A51CC;
        --c211: #4C337F;
        --c212: #5B3E99;

        /* Sound */
        --c220: #9B4A9B;
        --c221: #4C244C;
        --c222: #663066;

        /* Events */
        --c230: #CC9500;
        --c231: #7F5B00;
        --c232: #996B00;

        /* Control */
        --c240: #E5A800;
        --c241: #997000;
        --c242: #B27F00;

        /* Sensing */
        --c250: #4585A0;
        --c251: #234451;
        --c252: #2E5868;

        /* Operators */
        --c260: #418C41;
        --c261: #1C3D1C;

        /* Vars */
        --c270: #E5791B;
        --c271: #994E12;

        /* Lists */
        --c280: #E55919;
        --c281: #993910;

        /* Custom */
        --c290: #E55B75;
        --c291: #993D4F;
        --c292: #CC3F5D;

        /* Extensions */
        --c2A0: #0DA378;
        --c2A1: #06543C;
        --c2A2: #086B4B;

    /* Dialogue */
        /* Yes // Proceed */
        --c30: #2cdb29;

        /* No // Cancel */
        --c31: #ff5151;

        /* Text color */
        --c32: white;

    /* Theme */
        --c40: /*[[primaryColor]]*/;
        --c41: /*[[secundaryColor]]*/;

    /* Sound Levels */
        --c500: rgb(255, 113, 113);
        --c501: rgb(234, 119, 119);
        --c510: rgb(255, 230, 97);
        --c511: rgb(236, 222, 105);
        --c520: rgb(143, 213, 119);
        --c521: rgb(111, 196, 98);

    /* Miscellaneous properties */
        --cwb: #2f2f4799; /* Block workspace background */
}