/* Classic */
:root {
    /* ============================= Selected theme: Classic ============================= */
    /* Shades of black */
        --c00: black;
        --c01: #151515;
        --c02: #262626;
        --c03: #2d2d2d;
        --c04: #333333;
        --c05: #424242;
        --c06: #646464;
        --c07: #888888;
        --c08: #afafaf;
        --c09: #d6d6d6;
        --c10: transparent;
        --c11: rgba(51, 51, 51, 0.01);
        --c12: hsla(0, 0%, 0%, 0.15);
        --c13: hsla(120, 0%, 2%, .2);
        --c14: hsla(0, 0%, 0%, 0.50);
        --c15: hsla(0, 0%, 0%, 0.70);

    /* Scratch Blocks */
        /* Motion */
        --c200: #3373CC;
        --c201: #1F497F;
        --c202: #255896;

        /* Looks */
        --c210: #7A51CC;
        --c211: #4C337F;
        --c212: #5B3E99;

        /* Sound */
        --c220: #9B4A9B;
        --c221: #4C244C;
        --c222: #663066;

        /* Events */
        --c230: #CC9500;
        --c231: #7F5B00;
        --c232: #996B00;

        /* Control */
        --c240: #E5A800;
        --c241: #997000;
        --c242: #B27F00;

        /* Sensing */
        --c250: #4585A0;
        --c251: #234451;
        --c252: #2E5868;

        /* Operators */
        --c260: #418C41;
        --c261: #1C3D1C;

        /* Vars */
        --c270: #E5791B;
        --c271: #994E12;

        /* Lists */
        --c280: #E55919;
        --c281: #993910;

        /* Custom */
        --c290: #E55B75;
        --c291: #993D4F;
        --c292: #CC3F5D;

        /* Extensions */
        --c2A0: #0DA378;
        --c2A1: #06543C;
        --c2A2: #086B4B;

    /* Dialogue */
        /* Yes // Proceed */
        --c30: #2cdb29;

        /* No // Cancel */
        --c31: #ff5151;

        /* Text color */
        --c32: white;

    /* Theme */
        --c40: /*[[primaryColor]]*/;
        --c41: /*[[secundaryColor]]*/;

    /* Sound Levels */
        --c500: rgb(255, 113, 113);
        --c501: rgb(234, 119, 119);
        --c510: rgb(255, 230, 97);
        --c511: rgb(236, 222, 105);
        --c520: rgb(143, 213, 119);
        --c521: rgb(111, 196, 98);

    /* Miscellaneous properties */
        --cwb: #24242499; /* Block workspace background */
}