@-moz-document regexp("^((https?:\\/\\/)?scratch\\.mit\\.edu\\/projects\\/(\\d*\\/)?(editor|fullscreen).*)$") {
    /*[[theme]]*/

    /*-- GENERAL --*/
    §background {
        background-color: var(--c05);
    }

    /*["modules/blocks.css"]*/
    /*["modules/header.css"]*/
    /*["modules/dialog.css"]*/
    
    /*-- THEME COLORS --*/
    /*[[customthemecolorsCSS]]*/
    
    /*-- SOUND LEVELS --*/
    §red { fill: var(--c500); stroke: var(--c501); }
    §yellow { fill: var(--c510); stroke: var(--c511); }
    §green { fill: var(--c520); stroke: var(--c521); }
    
    /*-- MISCELLANEOUS COLORS --*/
    /* Blockly workspace background */
    #app .blocklySvg { background-color: var(--cwb) !important; }
    #app .blocklyMainBackground { opacity: .2; }
    
    /*-- Background image --*/
    /*[[backgroundImageCSS]]*/
    
    /*-- OTHER PROPERTIES --*/
    /* None */
    §card,
    §leftCard,
    §rightCard,
    §gradientPickerRow §swatch {border: none;}
    §spriteSoundSelectionContainerWrapper §box {border-left: none;}
    .sprite-info_radio-wrapper_1OHDS div {filter: none;}
    
    /* Transparent */
    §okButton2,
    §okButton3,
    §okButton,
    §cancelButton,
    §cancelButton2,
    §buttonRow§box button:first-child,
    §newButtons,
    §unselectWrapper {background-color: transparent !important;}
    §outlineSwatch::after,
    §roundButton {border-color: transparent !important;}
    §workspace .blocklyMainBackground {stroke: transparent;}
    §newButtons::before {
        background: -webkit-linear-gradient(transparent, var(--c04));
        background: -o-linear-gradient(transparent, var(--c04));
        background: linear-gradient(transparent, var(--c04));
    }
    
    .sprite-info_radio-wrapper_1OHDS div:not(.sprite-info_is-active_ewF6e) img {filter: saturate(0) brightness(.8);}
    
    §stageButton,
    §canvasContainer,
    §bitmapButton,
    §filter {
        border: 1px solid
    }
    §stageSelector§stageSelectorSelected,
    §optionCard:hover {
        border: 2px solid
    }
    §menuBarPosition,
    §headerButtons,
    §headerItem§headerItemTitle,
    §stageButton, §canvasContainer, §bitmapButton, §filter {border: 1px solid}
    §stageSelector§stageSelectorSelected, §optionCard:hover {border: 2px solid}
    §menuBarPosition, §headerButtons, §headerItem§headerItemTitle, §stageHeaderWrapperOverlay {border-bottom: 2px solid}
    
    §clickable§swatch { padding: 4px; }
    §bitmapButton {line-height: 1.25rem;}
    
    §featuredExtensionMetadataDetail img,
    §modToolSelect:not(.tool-select-base_is-selected_3x4kL) img,
    §modeToolsIcon,
    §stageSizeRow > div:last-child img,
    §stageMenuWrapper > span:last-child img,
    §swatchRow > :last-child img,
    §rowPrimary §iconWrapper img,
    §buttonGroupButtonIcon
    {
        -webkit-filter: grayscale(100%) brightness(1.2);
        -moz-filter: grayscale(100%) brightness(1.2);
        -o-filter: grayscale(100%) brightness(1.2);
        filter: grayscale(100%) brightness(1.2);
    }
    .stage_stage-wrapper-overlay_fmZuD {
        top: calc(2.75rem + 2px)
    }
    
    §swatch,
    §colorButtonSwatch {
        display: block;
    }
    .color-button_swatch-icon_3ooIk {
        width: calc(100% + 2px) !important;
        height: calc(100% + 2px) !important;
        transform: translateX(-1px) translateY(-1px);
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 3px;
        border: 1px solid rgba(0, 0, 0, 0.25);
    }
    §largeSwatchIcon {
        width: calc(100% + 8px) !important;
        height: calc(100% + 8px) !important;
        transform: translateX(-4px) translateY(-4px);
        box-sizing: border-box;
        border-radius: 3px;
        padding: 3px;
        border: 1px solid rgba(0, 0, 0, 0.25);
    }
    
    §scrollWrapperDragging {transition: background-color .2s ease-in-out;}
    §filter {transition: border-color .2s ease-in-out;}
}
